{{ $months := seq 12 }}
{{ $context := .context }}
{{ $year := .year }} 
{{ $from := .from }}
{{ $fromMonth := .fromMonth }}
{{ $to := .to }}
{{ $toMonth := .toMonth }}

<div class="calendar-year">
<header>
    <h2>
		{{ "Calendar" }}
    </h2>
</header>
{{ range $months }}
    {{ if or (and (ne $year $from) (ne $year $to)) (and (eq $year $from) (ge . $fromMonth)) (and (eq $year $to) (le . $toMonth))  }}
    {{ partialCached "calendar/month" (dict "context" $context "year" $year "month" .) (string (delimit (slice $year .) "")) }}
    {{ end }}
{{ end }}
</div>
